PORT=8080
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=realtime_chat
DB_USER=root
DB_PASSWORD=
DB_TIMEZONE=+03:00
SESSION_SECRET=replace-with-at-least-32-random-characters
SESSION_COOKIE_NAME=realtime_chat.sid
SESSION_MAX_AGE_MS=3600000
COOKIE_SECURE=false
TRUST_PROXY=false
